@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }

  :root {
    /* Emerald (Default) */
    --primary-50: 236 253 245;
    --primary-100: 209 250 229;
    --primary-200: 167 243 208;
    --primary-300: 110 231 183;
    --primary-400: 52 211 153;
    --primary-500: 16 185 129;
    --primary-600: 5 150 105;
    --primary-700: 4 120 87;
    --primary-800: 6 95 70;
    --primary-900: 6 78 59;
    --primary-950: 2 44 34;
  }

  [data-theme-color="blue"] {
    --primary-50: 239 246 255;
    --primary-100: 219 234 254;
    --primary-200: 191 219 254;
    --primary-300: 147 197 253;
    --primary-400: 96 165 250;
    --primary-500: 59 130 246;
    --primary-600: 37 99 235;
    --primary-700: 29 78 216;
    --primary-800: 30 64 175;
    --primary-900: 30 58 138;
    --primary-950: 23 37 84;
  }

  [data-theme-color="violet"] {
    --primary-50: 245 243 255;
    --primary-100: 237 233 254;
    --primary-200: 221 214 254;
    --primary-300: 196 181 253;
    --primary-400: 167 139 250;
    --primary-500: 139 92 246;
    --primary-600: 124 58 237;
    --primary-700: 109 40 217;
    --primary-800: 91 33 182;
    --primary-900: 76 29 149;
    --primary-950: 46 16 101;
  }

  [data-theme-color="rose"] {
    --primary-50: 255 241 242;
    --primary-100: 255 228 230;
    --primary-200: 254 205 211;
    --primary-300: 253 164 175;
    --primary-400: 251 113 133;
    --primary-500: 244 63 94;
    --primary-600: 225 29 72;
    --primary-700: 190 18 60;
    --primary-800: 159 18 57;
    --primary-900: 136 19 55;
    --primary-950: 76 5 25;
  }

  [data-theme-color="orange"] {
    --primary-50: 255 247 237;
    --primary-100: 255 237 213;
    --primary-200: 254 215 170;
    --primary-300: 253 186 116;
    --primary-400: 251 146 60;
    --primary-500: 249 115 22;
    --primary-600: 234 88 12;
    --primary-700: 194 65 12;
    --primary-800: 154 52 18;
    --primary-900: 124 45 18;
    --primary-950: 67 20 7;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}